<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
<script>
    var student =
        {
            name: "Tấn Phát",
            age: 20,
            grade: 100,
            contact:
                {
                    phone: "0909090909",
                    email: "taptan@gmail.com"
                },
            subjects: ["Toán", "Lý", "Hóa"]
        }

    //Truy xuất đổi tượng
    student.name = student.name.toUpperCase()
    console.log(student.name)
    //Duyêt đối tượng qua key
    for (var key in student) {
        console.log(key, student[key])
    }

    //Chuyển đổi JSON sang chuỗi
    var jsonString = JSON.stringify(student)
    console.log("Chuỗi "+jsonString)

    //Chuyển đổi chuỗi sang JSON
    var jsonObject = JSON.parse(jsonString)
    console.log(jsonObject,jsonObject.name)


</script>
</html>